body {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  margin: 0;
  background-color: #ffe1b9;
  box-sizing: border-box;
}

.header-page {
  color: white;
  background-color: #7a4602;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 50px;
  text-align: center;
  border-bottom: 4px solid #4b2a00;
}

.title {
  font-size: 48px;
  font-weight: lighter;
}

.text,
ol,
ul {
  color: #7a4602;
  font-size: 20px;
}

h2 {
  color: #4b2a00;
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
}

.image-header,
.content, .container {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.image-header img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card_cover > img {
  border-radius: 5px 5px 0 0;
  height: 20rem;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card_content {
  padding: 2px 16px;
}

.btn{
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #4b2a00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 20px;
}